.news-card-container {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  margin-bottom: 20px;
  background: #fcfcfc;
}

.img-container {
  flex: 1;
}

.content-container {
  flex: 1;
}

img {
  width: 95%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.summary {
  text-align: justify;
  overflow: auto;
  height: 65%;
  padding-right: 7px;
  padding-bottom: 10px;
  font-weight: normal;
}

.main-info {
  height: 65%;
  margin-bottom: 10px;
}

.extra-info {
  position: relative;
  height: 35%;
  margin-top: 15px;
}

/* Added custom scroll bar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: black;
}

.news-title {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.3rem;
  overflow: hidden;
}

hr {
  margin: 0 0 7px;
  padding: 0;
  border: 0.7px solid black;
  background: black;
  border-radius: 2px;
}

.read-more-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  background: black;
  color: white;
  /*width: fit-content;*/
  margin-bottom: 15px;
}

.published-date {
  position: absolute;
  right: 0;
  bottom: 0;
  width: fit-content;
  color: gray;
}

@media only screen and (max-width: 820px) {
  .news-card-container {
    display: block;
    padding: 0;
  }

  img {
    width: 100%;
  }

  .subclass-list {
    width: 98%;
    margin: auto;
  }

  .summary {
    padding: 0 10px;
  }

  .published-date, .read-more-btn {
    position: static;
  }

  .extra-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

}
