.car-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 100%;
  border-radius: 15px;
  cursor: pointer;
}

.img-container {
  height: 75%;
}

.car-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.car-name {
  text-align: center;
  font-weight: 500;
  padding-bottom: 10px;
}

.car-card:hover .car-price-container {
  opacity: 0.9;
}

.car-price-container {
  position: absolute;
  background: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 15px;
  opacity: 0.0;
  transition: opacity 250ms;
}

.car-price {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 2.2rem;
  color: black;
}

