<div  class="carousel" [ngStyle]="{'width': width, 'border-radius': bRadius}" [ngClass]="{'detailView': detailView}">
  <div *ngFor="let img of images; let i = index">
    <img class="slide"
         @carousel
         *ngIf="i === currentIndex"
         [src]="img.path"
         [alt]="img.name" />
  </div>
  <!-- Dots representing the currently selected img -->
  <div class="indicator-container" *ngIf="showInteractions && !detailView">
    <button mat-fab class="indicator inactive"
         [ngClass]="{'inactive': i !== currentIndex}"
         *ngFor="let img of images; let i = index"
        (click)="onSelectImg(i)"
    >
    </button>
  </div>
  <!-- Interaction buttons -->
  <button *ngIf="showInteractions" class="next" (click)="onNext()" mat-icon-button>
    <mat-icon>arrow_forward_ios_new</mat-icon>
  </button>
  <button *ngIf="showInteractions" class="previous" (click)="onPrevious()" mat-icon-button>
    <mat-icon>arrow_back_ios_new</mat-icon>
  </button>
  <app-overlay *ngIf="!detailView" [lightTheme]="true" (click)="toggleDetailView()"></app-overlay>
</div>
<!-- Small images the currently selected img -->
<div class="small-img-container" *ngIf="showInteractions && detailView">
  <div *ngFor="let img of images; let i = index"
       class="small-img"
       (click)="onSelectImg(i)"
       [ngClass]="{'inactive': i !== currentIndex}">
    <img [src]="img.path" [alt]="img.name" />
  </div>
</div>
<app-overlay *ngIf="detailView" [entireScreen]="true" (click)="toggleDetailView()"></app-overlay>
