<nav>
  <div class="page-navigation">
    <button
      class="nav-button"
      mat-button
      color="black"
      (click)="navigate(['car', 'class', carClass.id])"
      *ngFor="let carClass of carClassList">
      {{ carClass.name }}-Class
    </button>
  </div>
  <div class="auth-navigation">
    <button class="nav-auth-button" color="black" mat-button routerLink="/auth/login">Login</button>
    <button class="nav-auth-button" color="black" mat-button routerLink="/auth/signup">Sign in</button>
  </div>
</nav>
