<nav>
  <div class="page-navigation">
    <button
      class="nav-button"
      mat-button
      color="black"
      (click)="navigate(['car', 'class', carClass.id])"
      *ngFor="let carClass of carClassList">
      {{ carClass.name }}-Class
    </button>
  </div>
  <div class="auth-navigation">
    <button *ngIf="!userIsAuth" class="nav-auth-button" mat-button (click)="navigate(['auth', 'login'])">Login</button>
    <button *ngIf="!userIsAuth" class="nav-auth-button" mat-button (click)="navigate(['auth', 'signup'])">Signup</button>
    <button *ngIf="userIsAuth" class="nav-auth-button" mat-button (click)="onLogout()">Logout</button>
  </div>
</nav>
