<app-page-title>CONTROL PANEL - CARS</app-page-title>
<div class="content-container" *ngIf="!showSpinner">
  <mat-accordion class="class-list" multi>
    <mat-expansion-panel [expanded]="panelClassHasChanged(panelIndex)" class="car-class-block" *ngFor="let carClass of classes; let panelIndex = index">
      <!-- Class name and Add car to class button -->
      <mat-expansion-panel-header>
        <mat-panel-title class="car-class-name">
          <button matTooltip="Add car to {{carClass.name}}-CLASS" mat-icon-button >
            <mat-icon>add</mat-icon>
          </button>
          <span *ngIf="!panelClassHasChanged(panelIndex)">{{ carClass.name }}-CLASS</span>
          <span *ngIf="panelClassHasChanged(panelIndex)">
            <span class="constructed-name-part" *ngFor="let panelClass of getClassesForPanelName(panelIndex)">
              <a (click)="switchClass(carClass, panelClass)" class="class-link">{{ panelClass.name }}</a> /
            </span>
            {{ getActiveClassNameOfPanel(panelIndex) }}-CLASS
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Car List -->
      <div class="car-list" *ngIf="classHasCars(carClass)">
        <mat-card class="car-card" *ngFor="let car of getCarsFromClass(carClass)">
          <img [src]="getCarImage(car).path" [alt]="getCarImage(car).name" mat-card-image>
          <h3 class="car-name">{{ car.name }}</h3>
        </mat-card>
      </div>
      <!-- No Data Info -->
      <div class="no-content" *ngIf="!classHasCars(carClass)">
        <h2 class="no-content-text" >There are no cars in this class</h2>
      </div>
      <!-- Subclass List -->
      <app-popup *ngIf="classHasSubclasses(carClass)" [absolutePos]="true" [overlayEntireScreen]="false" toolTip="Show subclasses">
        <div class="popup-content">
          <mat-card class="subclass" *ngFor="let subclass of carClass.subclasses"  >
            <app-image-carousel
              [images]="subclass.images"
              [isExpandable]="false"
              bRadius="10px"
              height="150px"
            >
            </app-image-carousel>
            <h2 class="subclass-name" (click)="switchClass(carClass, subclass)">{{ subclass.name }}</h2>
          </mat-card>
        </div>
      </app-popup>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-fab class="add-car-btn" (click)="onNavigate(['create'])">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-spinner *ngIf="showSpinner" class="spinner"></mat-spinner>



