mat-expansion-panel-header {
  padding-left: 5px;
}

.class-list {
  padding-bottom: 1px;
}

.outline {
  border-width: thin;
  border-style: solid;
  border-color: rgb(181, 181, 181);
}

.class-link:hover {
  text-decoration: underline;
}

.car-list {
  display: flex;
  overflow-x: auto;
  padding: 10px 2px;
}

.car-class-block {
  margin-bottom: 5px;
}

.add-car-btn {
  position: fixed;
  background: black;
  bottom: 2.5%;
  right: 2.5%;
}

.car-class-name {
  font-size: 1.1rem;
  align-items: center;
}

.car-card {
  width: 30%;
  cursor: pointer;
  margin-right: 20px;
  flex-shrink: 0;
}

.car-name {
  text-align: center;
  font-weight: 500;
}

.no-content-text {
  color: #8e8e8e;
  font-weight: normal;
}

.subclass-list {
  padding-bottom: 10px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-content {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
}

.subclass {
  cursor: pointer;
  padding: 0;
  border-radius: 10px;
  flex-shrink: 0;
  width: 30%;
  margin: 0 15px;
}

.subclass-name {
  text-align: center;
  padding: 5px 0;
}

/* Added custom scroll bar */
::-webkit-scrollbar {
  height: 4px;
  background: rgba(154, 154, 154, 0.11);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: black;
}

@media only screen and (max-width: 820px) {
  .subclass {
    width: 80%;
  }

  .car-card {
    width: 60%;
  }

  .add-car-btn {
    bottom: 1.5%;
  }
}
