mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.car-list-grid {
  display: grid;
  margin-top: 30px;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
  padding-bottom: 10px;
}

.no-content {
  margin-top: 50px;
  text-align: center;
  color: #8e8e8e;
  font-weight: 400;
  font-size: 2.1rem;
}

@media only screen and (max-width: 820px) {
  .car-list-grid {
    grid-template-columns: auto;
  }

  .no-content {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
}
